.books-body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #01014e44;
}

.meetings-body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #0d480444;
}

.shelf {
  columns: 3;
}

.book-card {
  padding: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  break-inside: avoid;
}

.meeting {
  columns: 3;
}

.meeting-card {
  padding: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  break-inside: avoid;
}

h1 {
  font-family: 'Lucida Sans Regular';
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Lucida Sans Regular';
  color: #333;
}

button {
  padding: 8px 16px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #af5e4c;
}

button:hover {
  background-color: #882612;
}